/* ------------------- FOOTER ------------------- */
#footer {
    background-color: #B27DA4;
    color: #FFFFFF;
    padding: 5px 0;
    text-align: center;
    justify-content: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*
#footer_content {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    
}

#footer_content div {
    flex: 1;
    min-width: 200px;
}

#footer_about,
#footer_links,
#footer_social {
    text-align: left;
}

#footer h3 {
    margin-bottom: 5px;
    font-size: 0.8rem;
}

#footer p {
    font-size: 0.6rem;
    margin-bottom: 10px;
    line-height: 1.4;
    width: 20%;
}

#footer_links ul {
    list-style: none;
    padding: 0;
}

#footer_links li {
    margin-bottom: 5px;
}

#footer_links a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 0.6rem;
}

#footer_links a:hover {
    color: #B27DA4;
}

#footer_social .social_icon {
    width: 20px;
    height: 20px;
    margin: 5px;
    transition: transform 0.3s;
}

#footer_social .social_icon:hover {
    transform: translateY(-2px);
}
*/
#footer_copy {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #AAAAAA;
}

#footer_copy p {
    margin: 0;
}

/* Responsive adjustments */
@media (min-width: 600px) {
    #footer_content {
        flex-direction: row;
    }
}
